@{
    ViewData["Title"] = "- Appointments";
    ViewData["Header1"] = "Your Appointments";
}

<!--Import appointment model as an enumerable for iterations -->

@model IEnumerable<LaytonTours.Models.Appointment>

<ul>

    <!--Display appointments-->

    @foreach (LaytonTours.Models.Appointment a in Model)
    {

        <li>
            Appointment #: @a.AppointmentId -
            <ul>
                <li>Group Name: @a.GroupName</li>
                <li>Group Size: @a.GroupSize</li>
                <li>Email: @a.Email</li>
                <li>Phone: @a.Phone</li>
            </ul>
        </li>
    }
</ul>